POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=minikafka
POSTGRES_USER=minikafka
POSTGRES_PASSWORD=minikafka
JWT_SECRET=replace-with-at-least-32-characters
MINIKAFKA_STORAGE_ROOT=data/minikafka-logs
MINIKAFKA_TCP_PORT=9092
